extends layout

block content
	div create poll
		div yes/no
		div answer options
			div 1
			div 2
			div 3
			div 4
			div 5
			div 6
			div 7
			div 8
			div 9
		div single
	div reset poll
	div poll results

	script(src="/js/poll.js")