extends layout

block content
	div create poll
		div#yesNoControlls yes/no
		div answer options
			each i in _.range(2,10)
				div(id="choice#{i}Button") #{i}
		div#simpleButton simple
	div reset poll
	div poll results

append footer
	script(src="/js/poll.js")