extends layout

block content
	div(ng-app = "myApp", ng-controller="AdminCtrl", class="container-fluid full-height")
		div(class='page-header hidden-phone')

			h1 
				span.logo 
				| Polli <small> - jede Stimme zählt.</small> 
		div.row-fluid 
			div.span3
				div.button(ng-click="createPoll('yes_no')", class="left half-width") j/n
				each i in _.range(2,7)
					div.button(id="choice#{i}Button", class="left half-width", ng-click="createPoll('choice', #{i})") #{i}

				div.button(ng-click="resetPoll()") reset <i class="icon-refresh"></i>
				//- div#infos Client-Count: {{clientCount}}
				div.row-fluid
					qrcode(id="qrcode-svg", class-dark="dark", class-light="light", src="/qrcode-bits", class="span12")
			div#plot.span9.full-height
			
append footer
	script(src="/js/vendor/d3.v3.min.js")