extends layout

block content
	//- h1 Polli
	div#controlls.full-height(ng-app = "myApp", ng-controller='ClientCtrl' )
		div.full-height(ng-show="hasPolled")
			Deine Stimme hat gezählt!
		div.full-height(ng-show="!hasPolled")
			div#yesNoControlls.full-height(ng-show='isActivePollType("yes_no")')
				div.button(ng-click="vote('yes');", class="button2 large-font") yes
				div.button(ng-click="vote('no');", class="button2 large-font") no
			each i in _.range(2,7)
				div.full-height(ng-show='isActivePollType("choice#{i}")')
					each j in _.range(1,7)
						if  j < i+1
							div.button(ng-click="vote(#{j})", class="button6 large-font") #{j}
						else 
							div.button(class="button6 disabled large-font") #{j}