!!! 5
//if lt IE 7
  html.no-js.ie6.oldie(lang='en')
//if IE 7
  html.no-js.ie7.oldie(lang='en')
//if IE 8
  html.no-js.ie8.oldie(lang='en') 
//[if gt IE 8]><!
html.no-js(lang='en')
  //<![end if]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title=title
    meta(name="description", content=description)
    meta(name="author", content=author)
    meta(name="viewport", content='width=device-width, initial-scale=1')
    
    != css('reset')
    link(rel='stylesheet', href="/css/bootstrap/bootstrap.css")
    link(rel='stylesheet', href="/css/bootstrap/bootstrap-responsive.css")
    link(href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css", rel="stylesheet")

    != css('main')

  body
    block header

    block content

    block footer
      footer
        script(src="js/jquery/jquery.min.js")


        script(defer, src='/socket.io/socket.io.js')
        script(src='/js/underscore/underscore-min.js')
        
        script(src='/js/angular/angular.min.js')
        script(src='/js/bootstrap/bootstrap.min.js')

        != js('app')
        != js('services')
        != js('controllers/adminCtrl')
        != js('controllers/clientCtrl')
        != js('filters')
        != js('directives')

        //- script(src="http://192.168.101.41:35729/livereload.js?snipver=1")