@import 'nib'

global-reset()


body, html{
    height: 100%;
    background-color: #222222;
    color: #dddddd;
    
    margin: 0;
}

.full-height{
    height: 100%;
}

.button{
    box-sizing: border-box;
    width: 100%;
    height: 65px; 

    text-align: center;
    border: 1px solid white;

    font-size: 40px;
    font-family: 'Raleway', sans-serif;

    background-color: #333333;
    float: left;
}

.button2{
    height: 50%;
}

.button3{
    height: 33%;
}

.button4{
    height: 25%;
}

.button5{
    height: 20%;
}

.button6{
    height: 33.333%;
        width: 50%;
}



.half-width{
    float: left;
    width: 50%;
}

.button:active{
    background-color: #555555;
}

rect{
    background-color: #dddddd;
    fill: #dddddd;
}


/* Large desktop */
@media (min-width: 1200px) { 

}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 

}
 
/* Landscape phones and down */
@media (max-width: 480px) { 

}